#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

NAME=hp-n54l
DEB_NAME=$(NAME)-dkms
VERSION=$(shell dpkg-parsechangelog | sed -nre 's/^Version: ([^-~]+).*$$/\1/p')

%:
	dh $@ --with dkms

override_dh_install:
	dh_install *.c Makefile usr/src/$(NAME)-$(VERSION)
	dh_install config/modprobe.d/blacklist-n54l-watchdog.conf etc/modprobe.d
	dh_install config/modules-load.d/hp-n54l.conf etc/modules-load.d
	dh_install config/sensors.d/hp-n54l.conf etc/sensors.d
	find "debian/$(DEB_NAME)/usr/src/$(NAME)-$(VERSION)" -type f -exec chmod 644 {} \;

override_dh_dkms:
	dh_dkms -V $(VERSION) -- dkms.conf

override_dh_auto_clean:
override_dh_auto_build:
override_dh_auto_install:
